

// Colors
$accentColor: #1C62CD;;
$primaryColor: #fff;
$baseColor: #F0F0F4;;
$textColor:  #2F3035;;
$textColorLight: #C4C4C4;

/*
//Breakpoints
$breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 1280px,
    lg: 1440px
);

// Container
%container {
    padding: 0 15px;
    @media screen and (min-width: 576px) {
        padding: 0 35px;
    }
    @media screen and (min-width: 768px) {
        padding: 0 50px;
    }
    @media screen and (min-width: 1280px){
        padding: 0;
        width: 1140px;
        margin: 0 auto;
        position: relative;
    }
}
*/